<div class="conatiner">
    <form action="/admin/manage-instruments" method="POST" id="availabilityCheckForm">
        <div class="row height d-flex justify-content-center align-items-center">
          <div class="col-md-8">
              <div class="search">
                 <i class="fa fa-search"></i>
                  <input name="searchInput" id="searchInput" required list="category" type="text" class="form-control" placeholder="Search Instrument to update/delete">  
                  <datalist id="category">
                 <%     for(let i=0;i<result.length;i++){ %>
                        <option value="<%= result[i] %>">

                   <%   } %>
              
                  </datalist>
                </div>
               <div style="text-align: center;" class="my-1">
                <% if(messages.info){ %>
                    <span style="color:orangered;"><%= messages.info %></span>
                  <%  } %>
               </div>
               
            <div style="text-align: center;" class="my-4">
                <button type="submit" class="btn btn-lg btn-success">Submit</button>
            </div>
               
        
          </div>
        
    
        
       
      </div>
     
</div>