<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Book <%= itemToBeBooked.instrumentName.replace(/\w/, c => c.toUpperCase())
      %>
    </title>
    <link rel="stylesheet" href="/css/main.css" />
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Compiled and minified JavaScript -->
  </head>
  <body>
  <div style="display: flex;justify-content: center;padding: 20px;">
    <button onclick="goback()" class="btn waves-effect waves-light" type="submit" name="action">
        <i class="material-icons left">keyboard_backspace</i> Go Back
      </button>
</div>
    <div>
        <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input disabled value="<%=itemToBeBooked.instrumentName.replace(/\w/, c => c.toUpperCase())%>" id="instrument_name" type="text" class="validate">
                  <label for="instrument_name">Instrument </label>
                </div>
                <div class="input-field col s6">
                  <input id="date_picker" type="text" class="datepicker">
                  <label for="date_picker">Pick Date</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input  id="start_time" type="text" class="timepicker">
                  <label for="start_ime">Start Time</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="end_time" type="text" class="timepicker">
                  <label for="end_time">End Time</label>
                </div>
              </div>
              <input name="instrumentId" style="display: none;" value="<%= itemToBeBooked._id %>">
              <div style="display: flex;justify-content: center;padding: 20px;">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    <i class="material-icons right">send</i> Book
                  </button>
            </div>
         
            </form>
          </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/booking.js"></script>
  </body>
</html>
