/* sign page css */
#sign-body{
    max-height: 100vh;
    background-color: #E8F6EF;
}

.center{
 display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%)
}
.sign-h2{
    position: absolute;
    left:50%;
    top: 35%;
    font-family: 'Bona Nova', serif;
    transform: translate(-50%,-35%)  
}

.abcRioButtonLightBlue {
    background-color: #fff;
    color: #757575;
}
.abcRioButton {
    border-radius: 1px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
    transition: background-color .218s,border-color .218s,box-shadow .218s;
    -webkit-user-select: none;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    color: #262626;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
}
.abcRioButtonContentWrapper {
    height: 100%;
    width: 100%;
}
.abcRioButtonIcon {
    float: left;
}
.abcRioButtonSvg {
    display: block;
}
.abcRioButtonContents {
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .21px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: top;
}

/* home page css */

nav{
    padding: 8px;
}
/* .nav-content{
    justify-content: flex-end;
} */
.navlink{
    color: antiquewhite;
}

/* add instruments css */

.container-fluid{
    margin-top: 20px;
}

.dynamicDivs{
    margin: auto;

}
.submit-data{
    text-align: center;
}

.image-source-link{
    display: flex;
    justify-content: center;
}

/* instrument css */
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

/* home page css */


.height {
    height: 100vh
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 2px solid blue
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue
}
.instrument-div{
    text-align: center;
}

/* admin Edit instruments Page */

#goBackDiv{
    text-align: left;padding: 8px 0px 0px 8px;
}
#goBackButton{
    border-radius:5px 20px 5px;
    background: #E24C00;
    color: antiquewhite;
}
.editInstrumentDiv{
    text-align: center;
    padding: 20px;
}
.editInstrumentDiv h1{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.addInstrument{
    text-align: center;
    margin-bottom: 20px;
}
.addInstrument button{
    border-bottom-left-radius: 15px;
    background: #FC5404;
    border-color: #FFC074;
}

/* manage users css */
table { 
    width: 100%; 
    border-collapse: collapse; 
  }
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  }

  /* user bookings page */
  .booking-summary{
    -webkit-border-top-left-radius: 50px;
    -webkit-border-top-right-radius: 1px;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 50px;
    -moz-border-radius-topright: 1px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 50px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 5px;
    background-color: orangered;
    max-width: 100%;
    max-height: 25%;
  }